<div class="tabs-panel" id="panel_card">
  <div class="main">
    <main>
      <padding>
        <padding>
          <h1><baseCard class="scroll" /></h1>
          <padding>
            <h2><basicCard class="scroll" /></h2>
            <padding>
              <h3><attack class="scroll" /></h3>
              <div class="indent">
                <tickinglimit class="irreplaceable"><actingstage></actingstage></tickinglimit><numberlimit class="irreplaceable"><numberlimiting><numberlimitinghead></numberlimitinghead>一<numberlimitingend></numberlimitingend></numberlimiting></numberlimit>，<use><directedmark></directedmark><usetarget class="irreplaceable"><choose><targetnumberlimit class="irreplaceable">一名</targetnumberlimit><distancelimit class="irreplaceable"><inreach><inreachend></inreachend></inreach></distancelimit>的<targetlimit class="irreplaceable"><elserole></elserole></targetlimit></choose></usetarget><usebody></usebody></use>。
              </div>
              <div class="indent">
                <affect><effect></effect></affect>：
                <padding>
                  <div class="indent">
                    <damage><damagerole class="irreplaceable"><you></you></damagerole><directedmark></directedmark><damagedrole class="irreplaceable"><use><usetarget></usetarget></use></damagedrole><dealtbody></dealtbody><damagevalue class="irreplaceable">一点</damagevalue><damageend></damageend></damage>。
                  </div>
                </padding>
              </div>
              <div class="indent">
                <whenCC><thisC><card></card></thisC><actionType><directedMark></directedMark><pronoun1><tickQuantifier>一名</tickQuantifier><roleDefault></roleDefault></pronoun1><whenAffect></whenAffect></actionType></whenCC>，<pronoun1>其</pronoun1><can><canHead></canHead><play><playBody></playBody><playedCard class="irreplaceable"><choose><target1zC></target1zC><targetLimit class="irreplaceable"><cardQuoteC><dodge></dodge></cardQuoteC></targetLimit></choose></playedCard><playEffect class="irreplaceable"><offset><offsetEnd></offsetEnd><offsetTarget class="irreplaceable">之</offsetTarget></offset></playEffect></play></can>。
              </div>
              <h3><dodge class="scroll" /></h3>
            </padding>
            <h2><trickCard class="scroll" /></h2>
            <padding>
              <h3><deliver class="scroll" /></h3>
              <div class="indent">
                <tickinglimit class="irreplaceable"><actingstage></actingstage></tickinglimit><numberlimit class="irreplaceable"><numberlimiting><numberlimitinghead></numberlimitinghead>一<numberlimitingend></numberlimitingend></numberlimiting></numberlimit>，<use><directedmark></directedmark><usetarget class="irreplaceable">所有<roledefault></roledefault></usetarget><usebody></usebody></use>。
              </div>
              <div class="indent">
                <affect><effect></effect></affect>：
                <padding>
                  <div class="indent">
                    <reply><replyrole class="irreplaceable"><use><usetarget></usetarget></use><replybody></replybody><replyvalue class="irreplaceable">一点</replyvalue><health></health></replyrole></reply>。
                  </div>
                </padding>
              </div>
            </padding>
          </padding>
        </padding>
      </padding>
    </main>
  </div>
</div>
