@media (max-width: 500px) {
    html {
        font-size: 15px
    }

    padding {
        padding-left: 0.8em;
        padding-right: 0.6em;
    }
    
    .button{
        padding:8px 12px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 20px;
    }

    #nav-item {
        margin: 0 -25px 0 0;
    }

    #search-input{
        right: 0;
    }

    #block-under-search{
        height: 0.5em;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    html {
        font-size: 15px
    }

    padding {
        padding-left: 1.2em;
        padding-right: 1.2em;
    }
    
    .button{
        padding:8px 12px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 30px;
    }

    #nav-item {
        margin: 0 -20px 0 0;
    }

    #search-input{
        right: 0;
    }

    #block-under-search{
        height: 0.5em;
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    html {
        font-size: 15px
    }

    padding {
        padding-left: 1.6em;
        padding-right: 1.6em;
    }
    
    .button{
        padding:8px 12px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 40px;
    }

    #nav-item {
        margin: 0 -10px 0 0;
    }

    #search-input{
        right: 0;
    }

    #block-under-search{
        height: 0.5em;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    html {
        font-size: 17px
    }

    padding {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
    
    .button{
        padding:8px 12px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 50px;
    }

    #nav-item {
        margin: 0 -10px 0 0;
    }

    #search-input{
        right: 0;
    }

    #block-under-search{
        height: 0.5em;
    }
}

@media (min-width: 801px) and (max-width: 900px) {
    html {
        font-size: 18px
    }

    padding {
        padding-left: 2.0em;
        padding-right: 2.0em;
    }
    
    .button{
        padding:10px 15px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 75px;
    }

    #nav-item {
        margin: 0 10px 0 0;
    }

    #search-input{
        right: 0;
    }

    #block-under-search{
        height: 0.5em;
    }
}

@media (min-width: 900px) and (max-width: 1100px) {
    html {
        font-size: 19px
    }

    padding {
        padding-left: 2.2em;
        padding-right: 2.2em;
    }
    
    .button{
        padding:10px 15px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 75px;
    }

    #nav-item {
        margin: 0 20px 0 0;
    }

    #search-input{
        right: 0;
    }

    #block-under-search{
        height: 0.5em;
    }
}

@media (min-width: 1101px) and (max-width: 1200px) {
    html {
        font-size: 20px
    }

    padding {
        padding-left: 2.4em;
        padding-right: 2.4em;
    }
    
    #header_title {
        margin-right: 75px;
    }

    #nav-item {
        margin: 0 30px 0 0;
    }
    
    .button{
        padding:10px 15px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 75px;
    }

    #nav-item {
        margin: 0 30px 0 0;
    }

    #search-input{
        right: -95%;
    }

    .search-container{
        margin-left: -200px; margin-right: -200px; padding-left: 200px; padding-right: 200px; position: sticky;
    }

    #block-under-search{
        height: 1.5em;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    html {
        font-size: 20px
    }

    padding {
        padding-left: 2.6em;
        padding-right: 2.6em;
    }
    
    .button{
        padding:10px 15px;
        margin-left: -2em;
        margin-top: -1em;
    }
    
    #header_title {
        margin-right: 75px;
    }

    #nav-item {
        margin: 0 30px 0 0;
    }

    #search-input{
        right: -95%;
    }

    .search-container{
        margin-left: -200px; margin-right: -200px; padding-left: 200px; padding-right: 200px; position: sticky;
    }

    #block-under-search{
        height: 1.5em;
    }
}

@media (min-width: 1401px) {
    html {
        font-size: 20px
    }

    padding {
        padding-left: 3em;
        padding-right: 3em;
    }
    
    .button{
        padding:10px 15px;
        margin-left: -2em;
        margin-top: -1em;
    }
    .strength_button{
        padding:8px 8px;
        margin-left: 0.5%;
        margin-top: 15px;
    }
    
    #header_title {
        margin-right: 75px;
    }

    #nav-item {
        margin: 0 30px 0 0;
    }

    #search-input{
        right: -95%;
    }

    .search-container{
        margin-left: -200px; margin-right: -200px; padding-left: 200px; padding-right: 200px; position: sticky;
    }

    #block-under-search{
        height: 1.5em;
    }
}

@font-face {
    font-family: '古隶';
    src: url('source/方正古隶繁体.ttf') format('truetype');
}
@font-face {
    font-family: '明朝';
    src: url('source/文悦古典明朝体.ttf') format('truetype');
}
@font-face {
    font-family: '小篆';
    src: url('source/汉仪篆书繁.TTF') format('truetype');
}

*{
    user-select: none;
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.strength_title{
    display: inline;
    margin-top: 0.45em;
    line-height: 1.8em;
    letter-spacing: -4px;
    font-family: '古隶';
    position: absolute;
    writing-mode: vertical-rl
}

.glowing {
    text-shadow: 
        1px 1px 0 rgb(255, 215, 0, 0.1),  /* 右下 */
        -1px -1px 0 rgb(255, 215, 0, 0.1), /* 左上 */
        1px -1px 0 rgb(255, 215, 0, 0.1),  /* 右上 */
        -1px 1px 0 rgb(255, 215, 0, 0.1);  /* 左下 */
}

.button:hover, .button:focus{
    background: #8698ff
}

.container{
    position: relative;
    z-index: 2;
}

.role_title{
    font-family: '明朝';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    white-space: nowrap;
    text-align: center;
    font-size: 5em;
    opacity: 0;
    left: -5%;
    transition: left 1s ease, opacity 1s ease;
    user-select: none; pointer-events: none;
    z-index: 1;
}
.container:hover .role_title {
    opacity: 0.1;
    left: 0%
}

.role_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    white-space: nowrap;
    text-align: center;
    opacity: 0;
    left: 10%;
    transition: left 1s ease, opacity 1s ease;
    user-select: none; pointer-events: none;
    z-index: 0;
    
}
.container:hover .role_icon {
    opacity: 0.025;
    left: 5%
}

.button{
    position: absolute;
    color:#ffffff;
    border-radius:40px;
    overflow: hidden;
    background:#8698ff;
}

span{
    position:absolute;
    background:#ffffff;
    transform:translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        width:0px;
        height:0px;
        opacity:0.5;
    }
    100%{
        width:500px;
        height:500px;
        opacity:0;
    }
}

.indent {
    text-indent: 20px;
    line-height: 1.9em;
}

.indent+.indent {
    padding-top: 0.6em;
}

padding {
    display: block;
    padding-bottom: 1.2em;
}

.h {
    font-size: .9rem;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.bold {
    font-weight: bold;
}

.scroll {
    scroll-margin-top: 70px;
}

lore {
    color: gray;
    font-weight: normal;
    font-style: italic;
    font-family: 'KaiTi';
    letter-spacing: -0.15em;
}

body {
    margin: 0;
    font-size: .9rem;
}

/*header*/
#header {
    background: #ffffff;
    text-align: center;
    box-shadow: 0 0 .2rem #0000001a, 0 .2rem .4rem #0003;
    display: flex;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4;
    white-space: nowrap;
}

#header_title {
    flex-grow: 1;
    font-size: .9rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin-left: 1rem;
}

#title-a {
    text-decoration: none;
    color: black;
}

#title-a:hover {
    color: black;
    font-weight: 900;

}

#sidebar {
    background: #ffffff;
    padding: 0;
    z-index: 11;
    margin-left: 10;
}

#active {
    text-decoration: overline;
    font-weight: 900;
}

#nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    padding: 0px 0 0 0px;
}

#nav-item {
    margin-top: 0;
    display: inline;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.0rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}