/* 字体定义 */
@font-face { font-family: '古隶'; src: url('../source/方正古隶繁体.ttf') format('truetype'); }
@font-face { font-family: '明朝'; src: url('../source/文悦古典明朝体.ttf') format('truetype'); }
@font-face { font-family: '小篆'; src: url('../source/汉仪篆书繁.TTF') format('truetype'); }
@font-face { font-family: '大篆'; src: url('../source/金文大篆体.TTF') format('truetype'); }
@font-face { font-family: '碑楷'; src: url('../source/方正北魏楷书.TTF') format('truetype'); }
@font-face { font-family: '康熙'; src: url('../source/康熙字典体.TTF') format('truetype'); }
@font-face { font-family: '邯郸'; src: url('../source/邯郸康熙字典体.TTF') format('truetype'); }
@font-face { font-family: '毛体'; src: url('../source/草檀斋毛泽东字体.ttf') format('truetype'); }
